*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f5f5f5;
  color:#111;
}

/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  background:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 20px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
  z-index:1000;
}

.login-btn{
  background:#111;
  color:#fff;
  border:none;
  padding:8px 18px;
  border-radius:20px;
}

/* HERO */
.hero{
  height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1716367840407-f9414a84b325?auto=format&fit=crop&w=1400&q=80");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-box{
  background:#fff;
  padding:30px;
  border-radius:20px;
  animation:fadeUp 1.5s ease;
}

.hero-box h2{
  font-size:26px;
  font-weight:700;
}

.hero-box p{
  margin:10px 0 20px;
}

.cta{
  background:#111;
  color:#fff;
  padding:10px 22px;
  border-radius:30px;
  text-decoration:none;
}

/* SERVICES */
.services{
  padding:70px 20px;
}

.section-title{
  text-align:center;
  margin-bottom:30px;
  font-size:22px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#fff;
  padding:25px;
  text-align:center;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  animation:fadeUp 1.3s ease;
}

/* MOTIVATION */
.motivation{
  background:#111;
  color:#fff;
  padding:60px 20px;
  text-align:center;
  font-size:22px;
}

/* CONTACT */
.contact{
  padding:70px 20px;
  text-align:center;
}

.contact a{
  display:inline-block;
  margin:10px;
  background:#111;
  color:#fff;
  padding:12px 22px;
  border-radius:30px;
  text-decoration:none;
}

/* ANIMATION */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
  }
